/*
filename: style.css
author: Ayesha Shaikh
created: 28-08-2020
last modified: 02-09-2020
description: styling the assignment website pages using css
*/

*{ margin: 0;
padding: 0;
box-sizing:border-box;
font-family: sans-serif;
}

body#bg{background-image:url("images/bg5.jpg");}

body {background: #f3f5f9;transition: background-color 3s; }

.wrapper{ display: flex;
position:relative;
}

.wrapper .sidebar {
	background: rgb(7, 227, 217);
	position: fixed;
	width:200px;
	height:100%;
	padding:30px 0px;
}

.wrapper .sidebar h2{
	color: #fff;
	text-transform: uppercase;
	text-align:center;
	margin-bottom: 30px;
}
.wrapper .sidebar ul li{
	padding:15px;
	border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #cc99ff;
  display: block;
  font-size:1.4em;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .Reference {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-55%);
  display: flex;
  width:100%;
  overflow:auto;
  
}

.wrapper .sidebar .Reference a{
  display: block;
  width: 50%;
  background: #594f8d;
  height: 65px;
  line-height: 20px;
  margin: 20px 20px;
  color: #bdb8d7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity:0.4;
  float:left;
  padding:7px 7px;
  color:Black;
 
}

.Reference a > span:hover{background-color:RoyalBlue; color:White;}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

header h1{
  padding: 20px;
  background-color: rgb(247, 247, 22);
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
  text-align:center;
  text-decoration:underline;
  font-variant:small-caps;
  letter-spacing:0.3em;
}

.wrapper .main_content{
  margin: 20px;
  color: #717171;
  line-height: 25px;
  margin-left:260px;
}



@font-face{src:url("images/Gailenia-YzqEy.ttf");
			font-family:myfont;}
#welcome{
	text-align:center;
	font-family:myfont; 
	font-weight:100;
	font-stretch:semi-expanded;
	font-size:8em;}
	
#applicationhead{text-align:center;}

.proto {font-weight:bold;font-size:1.5em;color:DarkBlue; text-decoration:underline; margin-left:40px;}

img {
  border: 1px solid #ddd;
  padding: 5px;
  width: 70px;
  height:70px; 
  border-radius:5px; 
   display: inline;         
float:left;   
            
}
#webimg_1{border:1px solid Turquoise;
		padding: 3px;height:250px;
		width:300px;display:inline; 
		float:right;margin-right:60px;}
		
#webimg_2{border:1px solid Turquoise; 
		padding: 3px;height:150px;
		width:500px;
		display:inline; 
		float:right;
		margin-right:50px;}
		
.webimg_3{border:1px solid Turquoise;
		padding: 3px; 
		height:300px;
		width:500px;
		display:inline;
		float:right; 
		margin-right:20px;}
				
.webimg_4{border:1px solid Turquoise;
		padding: 3px; 
		height:300px;
		width:650px;
		display:inline;
		float:right; 
		margin-right:20px;}

.quizimg1{border: 1px solid Turquoise;
		padding: 2px;
		height:200px; 
		width:300px; 
		display:inline; 
		float:left;
		margin-left:20px;}

#inpage_links a{ 
		padding: 0.5em 0.8em;
		border: 4px solid #ccc;}

#inpage_links a:hover{background-color:rgba(153,255,204,0.5); 
						border-color: #cc99ff;}

aside + footer {font-style: oblique;}
aside{margin-left:30px; 
	color:darkblue; 
	font-size: 1.2em; 
	width:25%;
	float:right;
	border-color:#99ccff; 
  border-width:medium;
  border-style:dotted;
	padding:5px;}



p{text-align:left; 
		font-family:cavolini; 
		color:rgb(60,60,60);
		font-size:20px;
		padding-bottom: 20px;}
		
hr{border-top:1px dashed LightBlue;border-width:1em;}
	
table {border: 1px solid black;
	border-width:3px;width: 90%}
	table caption{font-size:30px;font-weight:Bold;color:DarkMagenta;}
	td {border: 1px solid Teal; border-color:darkblue;border-width:2px;text-align:left;border-bottom:2px solid black;}
	thead tr{color:black;border: 2px solid DarkBlue;text-align:center;height:40px;vertical-align:middle;padding:10px;background-color:Turquoise;}
	tr:nth-child(even){background-color: LightBlue;}
.name {color:black;border: 1.5px solid Blue;text-align:center;height:40px;vertical-align:middle;padding:10px;background-color:DeepSkyBlue;}



ul li{list-style-type:diamond;color:#008B8B;}
ol li{list-style-type:number;color:rgba(139,0,139,0.6);margin-left:30px;background:OldLace;padding:5px;}
#functions li{list-style-type:upper-roman; margin-left:25px;background:PaleTurquoise;padding:5px;}


blockquote {
	display:block;
    margin-right: 60px;
	margin-left: 1em;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}


footer {
  margin-top: 50px;
  border-top: 1px solid silver;
  font-size: 0.8em;
  text-align:center;
  width:100%;
}


footer ol {
  padding-left: 20px;
}

article {
  counter-reset: footnotes;
}


[aria-describedby="footnote-label"] {
  counter-increment: footnotes; 
  text-decoration: none; 
  color: inherit; 
  cursor: default; 
  outline: none; 
}

[aria-describedby="footnote-label"]::after {
  content: '[' counter(footnotes) ']'; 
  vertical-align: super; 
  font-size: 0.5em; 
  margin-left: 2px; 
  color: blue; 
  text-decoration: underline; 
  cursor: pointer; 
}


[aria-describedby="footnote-label"]:focus::after {
  outline: thin dotted;
  outline-offset: 2px;
}

[aria-label="Back to content"] {
  font-size: 0.8em;
}

footer :target {
  background: yellow;
}



.p {
  text-align: center;
  font-size: .75em;
  padding-top: 150px;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin-left:40px;
}

label{margin-left:20px;}
fieldset{padding:20px;}

ul#en{margin-left:20px;}
ul#en ul{margin-left:40px;}
ul#mainen{ margin-left:40px; display:block;padding:30px; background:rgba(165, 30, 205, 0.1);color:black; font-size:1.3em; border:blue; border-radius:1em;font-family:serif;}

p::selection {
  color: blue;
  background: hsl(60, 100%, 80%);
}
ol#proto>div#indent{margin-left:30px;}
span#gen{color:White;font-family: "Lucida Console",Courier,monospace;text-shadow: 3px 3px 2px blue; line-height:0.4em;}
section::first-letter{font-family:myfont;font-size:2em;}

#quiz{ background:#d2def2;
		margin-left:10px;
		padding:10px 20px 10px 20px;
		width:auto;
		border-radius:10px;
}
input{margin-bottom:10px;
}

#btn{background:LightBlue;
		border-radius:5px;
		border: 1px solid;
		padding:10px;
		color:Black;
		font-size:12px;
		transition-duration: .5s;
margin-top:10px;}

#btn:hover{background:white;
border:1px solid Blue;
color:DarkMagenta;
cursor:pointer;
}

 
 .qno{font-family: Impact, Charcoal, sans-serif;
	 font-style: oblique;
	  font-weight: bold;
	  font-size: 20px;
	  padding:10px;}
	  
	  
	  /*Java script implementation*/
#again{visibility:hidden;}

 #newmessage{background:#ff5459;
 padding:10px 5px 10px 5px;
 width:auto;
 border-radius:10px;
 float:right;
 margin-right:40px;
 font-size:20px;
 visibility:hidden;
 }
 
 #userdets p{text-align:center;}
 
 #display{float:right;
			margin-right:180px;
 font-weight:bold;
 position:relative;
 background-color:rgba(255, 255, 11,0.6);
 padding:5px;}

#time{margin-left:200px;}

#hideit{visibility:hidden;}

#userdets{background: DodgerBlue;
			padding:10px 15px 10px 15px;
			margin-left:220px;
			margin-right:150px;
			text-align:center;
			color:White;
font-weight:bold;
font-size:1.1em;}


#uname1{color: DodgerBlue;
		text-align:center;
		font-size:1.4em;
}

#scorestyle{background-color:rgba(161, 254, 255, 0.5);
border:2px solid DodgerBlue;
font-weight:bold;
padding:20px;}
#scorecontent{font-size:1.5em;}




